<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@100; 300; 500&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="content/style.css" />
      <title>LinkTube</title>
</head>
<body>
      <header>
      <div class="row">
            <div class="block">
                  <div id="spread_menu">
                        <div class="spread_line"></div>
                        <div class="spread_line"></div>
                        <div class="spread_line"></div>
                  </div>
                  <div><img src="content/img/linktube_s.png"></div>
            </div>
            <div class="block">
                  <form method="GET">
                        <div>
                              <input type="text" name="serach_query" value="Search" />
                              <div>serach icon</div>
                        </div>
                  </form>
            </div>
            <div class="block">
                  <div>last added logo</div>
                  <div>User logo</div>
                  <!-- Nepridetas funkcionalumas: paspaudus ant user logo turi atsirasti userio meniu -->
            </div>
      </div>
</header>