<div class="row">
      <div class="block">
            <div>spread sidebar</div>
            <div>LinkTubeLogo</div>
      </div>
      <div class="block">
            <form method="GET">
                  <div>
                        <input type="text" name="serach_query" value="Search" />
                        <div>serach icon</div>
                  </div>
            </form>
      </div>
      <div class="block">
            <div>last added logo</div>
            <div>User logo</div>
      </div>
</div>