<div class="login">
      <div class="log-form">
            <img src="content/img/linktube_s.png" alt="linktubelogo" style="height:30px"/>
            <h2>Registered user</h2>
            <form method="POST">
                  <label>User name:</label>
                  <input type="text" name="username" />
                  <label>Password:</label>
                  <input type="password" name="password" />
                  <button type=""submit">Log In</button>
            </form>

            <h2>Not registered yet?</h2>
            <a href="?setup=new">Sign Up</a>
      </div>

</div>