<div class="login">
      <div class="log-form">
            <img src="content/img/linktube_s.png" alt="linktubelogo" style="height:30px"/>
            <h2>Create you account:</h2>
            <form method="POST">
                  <label>User name:</label>
                  <input type="text" name="username" />
                  <label>Password:</label>
                  <input type="password" name="password" />
                  <label>Avatar:</label>
                  <input type="password" name="avatar" />
                  <input type="text" name="signup" value="true" hidden />
                  <button type=""submit">Sign up</button>
            </form>
            <a href="./">Cancel</a>
      </div>

</div>