:root{
      scroll-behavior: smooth;
}
body{
      box-sizing: border-box;
      margin:0;
      padding:0;
      background-color: rgb(196, 196, 196);
      font-family: 'Raleway', sans-serif;
}
 header,
 body,
 footer{
      width:1150px;
      margin: 0 auto;
      background-color: white;
 }

                                          /* HEADER STYLING */
 header{
      box-sizing: border-box;
      padding: 100px 50px 30px 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
 }
 header .logo img{
      width: 130px;
      /* border: 1px solid black; */
      border-radius: 50%;
      box-shadow: 2px 2px 8px grey, inset -4px -4px 20px grey;
 }
 .gen-info{
      width:550px;
      padding: 0 40px;
      font-size: 50px;
 }
 .gen-info div:nth-child(2){
      font-weight: 600;
 }
 .speciality{
      font-size: 20px;
      padding-bottom: 36px;
 }
 .contacts{
      width: 240px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
 }
.contacts img{
      border: 1px solid black; 
      border-radius: 50%;
      padding: 5px;
      width:20px;
      height:20px;
}
.logos,
.contats_info{
      display: flex;
      flex-direction: column;
      height:150px;
      justify-content: space-around;
      font-size: 18px;
}

                                          /* MAIN STYLING */
main{
      box-sizing: border-box;
      padding: 0 50px 0 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
}
h2 {
      font-weight: 600;
      margin: 10px 0;
}
sidebar{
      width:200px;
}

sidebar img{
      width:30px;
      height:30px;}

section{
      width:800px;
}
article{
      padding:0 0 0 20px;
      padding-left:5px;
      margin: 10px 0;
}

article:before{
      content: "";
      width:8px;
      height:12px;
      background-color: rgb(0, 0, 0);
      border:2px solid rgb(255, 255, 255);
      box-shadow: 0 0 2px black;
      border-bottom-right-radius: 7px 15px;
      border-bottom-left-radius: 7px 15px;
      display: inline-block;
      position:relative;
      left:-6px;
      
}
.part{
      padding-left: 25px;
      border-left: 1px solid black;
      text-align: justify;     
}

.skill{
      display: flex;
      justify-content: space-between;
}
.line{
      display: flex;
      flex-direction: row;
      justify-content: end;
      margin-right: 40px;
}
.yes,
.no,
.half{
      width:7px;
      height:7px;
      margin: 1px;
      border: 1px solid black;
}
.yes{
      background-color: black;
}
.half{
      background-image: linear-gradient(to right, black, white) ;
}
.level{
      text-align: right;
      font-size: 12px;
      margin:-6px 40px 7px 0;
      
}