*{
      margin:0;
      padding:0;
      box-sizing: border-box;
}

:root{
      scroll-behavior: smooth;   
      --white: #fafafa;
      --black: #141403;
      --size1: calc((100vh+100vw)/100);
      --size2: calc((100vh+100vw)/80);
      --size3: calc((100vh+100vw)/60);
      --size4: calc((100vh+100vw)/40);
      
}

body{
      background-color: var(--black);
      color: var(--white);
      font-size: var(--size3);
      font-family:Arial, Helvetica, sans-serif;
      text-align: center;
}

a{
      text-decoration: none;
      color: var(--white);
}

/* HEADER------------------------------------------------------------ */
header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      margin: var(--size2) auto;
      max-width: 1400px;
}
header .logo{
      display: flex;
      flex-direction: row;
      justify-content: start;
}
.logo img{
      width: calc(var(--size4)*2.4);
      height:calc(var(--size4)*2.4);
      margin: 0 10px
}
h1{
      color:#00b700;
      padding: calc(var(--size1)/2.5);
      text-align: left;
      margin-bottom: 0;
      line-height: var(--size4);
}
h1 span{
      font-size: calc(var(--size3)*1.5);
      color: #f4e412;
      font-weight: 200;
      margin-top:0;
      padding:var(--size1) 0;
}

nav ul{
      display: flex;
      flex-direction: row;
      justify-content: end;
      list-style-type: none;
      margin: 10px
}
nav li,
form button{
      margin: 0 10px;
      width: calc(var(--size4)*5);
      padding: calc(var(--size1)/2);
      color: white;
      background-color: #00b700;      
      border: 2px solid #f4e412;
      font-weight: 600;
}
nav li:hover,
form button:hover{
      color:#f4e412;
      background-color: #009500;
}
nav li:active,
form button:active{
      color:#009500;
      background-color: #f4e412;
      border: 2px solid #009500;
}
/* MAIN---------------------------------------------------- */
main{
      margin: 20px auto;
}
h2{
      color:#f4e412;
      margin: calc(var(--size4)*2) auto var(--size2);
}

/* Admin part */
main ul{
     justify-content: center;
}
main li{
      height: calc(var(--size4)*2);
}

form,
#newplname{
      display: flex;
      flex-direction:column;
      width: calc(var(--size4)*30);
      margin: 10px auto;
}
label{
      text-align: left;
      padding:2px 0;
}
input,
select{
      font-size: var(--size3);
      padding: 2px;
      margin-bottom: 5px
}
#songinputname{ 
/*input field in the add to playlist form. styled to have name without inbox field borders visible */
      color: #f4e412;
      font-weight: 600;
      background-color: var(--black);
      border: none;
}

button{
      font-size: var(--size3);
      margin:20px 0 !important;
      font-weight: 600;
      align-self:flex-end;
}

.row{
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: var(--size3) 0;
}
.album_box{
      width: calc(var(--size1)*20);
      margin: 10px;
}
/* not connected part */
.albumcover {
      width:200px;
      border: 2px solid #00b700;
      box-shadow: 0 0 10px #f4e412;
}
.performer{
      font-weight: 600;
      padding:2px;
}
.song{
      font-style: italic;
      padding:2px;
      margin:5px 0;
}
.play{
      width: var(--size2); 
      height: 0; 
      border-top: calc(var(--size1)/2) solid transparent;
      border-bottom:calc(var(--size1)/2) solid transparent;
      border-left: var(--size2)solid var(--white);
      position: relative;
      margin: 2px auto;
}
.play_button{
      display: flex;
      flex-direction: row;
      justify-content: center;
}
.play_button span{
      font-size: var(--size4);
      border-radius: 50%;
      margin: 5px 10px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* PLAYLISTS -------------*/
my-playlists{
      display:flex;
      flex-direction: column;
}
playlist-box{
      display:flex;
      flex-direction: row;
}
playlist-logo img{
      width:50px;
      height:50px;
}
playlist-name{
      text-decoration: underline;
}




/* FOOTER ---------------------------------------- */
footer{
 margin-top: 30px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}
footer div{
      font-size: var(--size2);
      font-weight: 900;
}
footer ul{
      font-weight: 100;
      list-style-type: none;
      text-align: left;
}