:root{
      scroll-behavior: smooth;
}
body{
      background-color: rgb(214, 214, 214);
      box-sizing: border-box;
      margin:0;
      padding:0;
      font-size: 18px;
}
.container{
      width:1000px;
      margin: 0 auto;
}


h2{
      margin: 40px 0 30px;
}
nav{
      position: absolute;
      top:0;
      background-color:rgb(214, 214, 214);
}

nav a{
      border: 1px solid black;
      display: inline-block;
      width: 200px;
      text-align: center;
      padding: 2px;
      text-decoration: none;
      margin: 5px 0;
      background-color: #efefef;
      color: black;
}

nav a:last-child{
      background-color: rgb(198, 140, 140);
}

nav a:hover{
      background-color:#dddddd;
}

#data,
#newClient{
      margin: 10px auto;
}

table{
      
      border-collapse: collapse;
      width: 100%;
      margin: 0 auto;
}
th,
td{
      border: 1px solid black;
}







form{
      display: flex;
      flex-direction: column;
}

.field{
      display: flex;
      flex-direction: row;
      justify-content: start;
      margin : 2px 0;
}

label{
      width: 120px;
      text-align: right;
}
input{
      width: 360px;
}

form button{
      width: 368px;
      margin: 2px 0;
      margin-left: 120px;
      /* background-color: rgb(195, 195, 195);
      border: 1px solid black; */
      font-size: 16px;
      padding: 2px 0;
}
