<footer>

      <div>
            Technologies:
            <ul>
                  <li>HTML5</li>
                  <li>CSS3</li>
                  <li>PHP8</li>
                  <li>MySQL</li>
                  <li>JS</li>
            </ul>
      </div>
      <div>
            Resourcess:
            <ul>
                  <a href="https://fonts.google.com/"><li>Google fonts</li></a>
                  <a href="https://fonts.google.com/"><li>Google fonts</li></a>
            </ul>
      </div>
      <div>
            Contacts:
            <ul>
                  <a href="mailto:vilius.s@outlook.com"><li>vilius.s@outlook.com</li></a>
                  <li>+370 671 16246</li>
            </ul>
      </div>

</footer>
</body>
</html>