*{
      box-sizing: border-box;
      margin:0;
      padding:0;
      scroll-behavior: smooth;
}
body{
      font-family: 'Roboto', sans-serif;
      margin: 10px;
      width:95vw;
}

ul{
      list-style-type: none;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;
}

/* ---------------ICONS--------------- */
.material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
    }
.icon-back-grey{
      background-color: lightgrey;
      box-shadow: 0 0 2px lightgray, inset 0 0 2px lightgray;
      height:27px;
      padding:0 6px;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
}

/* ---------------HEADER--------------- */
.row{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      align-items:center;
      width:100%;
      height:40px;
}
.block{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height:40px;
}
header img,
sidebar img{
      height: 24px;
}
#spread_menu,
.spread_menu{
      width: 38px;
      height: 38px;
      border-radius: 50%;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
#spread_menu:hover,
.spread_menu:hover{
      cursor: pointer;
      background-color: lightgrey;
}
.spread_line{
      width:16px;
      height:2px;
      margin:2px;
      background-color: rgb(115, 115, 115);
}
#main-search{
      max-width: 400px;
      width: 35vw;
      padding:5px;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
      border: 1px solid lightgray;
      box-shadow: 0 0 2px lightgray, inset 0 0 2px lightgray;
}
.avatar{
      text-align: center;
}
.avatar img{
      width:40px;
      height:40px;
      margin: 15px 10px 0 10px;
      border-radius: 50%;
      background-color: lightgrey;
      text-align: center;
}
.admin-top{
      text-align: center;
      padding: 0 10px;
      border-right: 1px dotted grey;
}
header a{
      text-decoration: none;
      color: black
}

/* ---------------SIDEBAR--------------- */
.cover{
      display: none;
      width: 100vw;
      height: 100vh;
      background-color: rgba(128, 128, 128, 0.5);
      position: fixed;
      top:0;
      left:0;
}
sidebar{
      height: 100vh;
      display: block;
      position: fixed;
      top:0;
      left:-250px;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      transition: all 0.5s ease-in-out;
}
sidebar .block{
      justify-content: start;
      align-items: top;
      padding-left:10px;
}

sidebar nav{
      width: 250px;
      height: 100vh;
      background-color: white;
}
sidebar li{
      margin: 5px;
      font-size: 16px;
      font-weight: 100;
      color: rgb(32, 32, 32);
      border-radius: 10px;
}
sidebar li span{
      align-items: center;
}
sidebar li:hover{
      background-color:#f2f2f2;
}
sidebar hr{
      width: 80%;
      /* margin: 10px; */
}
.side{
      padding-top: 10px;
      margin-bottom: 20px;
}
sidebar a{
      text-decoration: none;
}
.side-menu{
      margin-left: 10px;
}

/* --------------------Central space-------------------- */
/* Login */
.login{
      position:absolute;
      width: 100vw;
      height: 100vh;
      background-color: #f2f2f294;
      top:0;
      left:0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.log-form{
      width: 40vw;
      height: 40vh;
      max-width: 500px;
      max-height: 550px;
      min-width: 250px;
      min-height: 450px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 2px 2px 10px rgb(101, 101, 101);
}
.log-form h2{
      margin:20px;
}
.log-form form{
      display: flex;
      flex-direction: column;
      font-size: 20px;
}
.log-form input{
      font-size: 20px;
      padding: 2px 5px;
      margin-bottom: 10px;
      width: 230px;
}
.log-form button{
      font-size: 20px;
      margin-top: 10px;
      width: 230px;
}

.log-form a:last-of-type{
      align-self:flex-end;
      margin: 10px;
}

/* Admin */

.admin-table{
      display:flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      margin-top: 20px;
}
.admin-table h2{
      margin: 20px;
      text-transform:uppercase;
}
.admin-table table{
      border-collapse: collapse;
      text-align: left;
}
.admin-table td{
      border:1px solid black;
      padding:0 5px;
}
.admin-table th{
      border:1px solid white;
      padding:0 5px;
}
.admin-table thead{
      background-color: black;
      color: white;
      text-align: center;
      border: 1px solid white;
}
.admin-table tr:nth-child(even){
      background-color: #f2f2f2;
}
.admin-table td:nth-child(1),
.admin-table td:nth-child(2){
      text-align: right;
}
.admin-table adm-act{
      display: flex;
      flex-direction: row;
      justify-content: start;
}
.admin-table a{
      text-decoration: none;
      color: black;
      padding:2px;
      margin: 0 5px;
}
.admin-table a:last-child{
      color: red;
}
.admin-table tr:first-of-type a{
      color: green;
}
/* ---------------Main--------------- */
main{
      margin: 20px;
}
/* Categories */
.actual-cat nav{
      margin: 10px 0 20px 0;
}
.actual-cat ul{
      display: flex;
      flex-direction: row;
      justify-content: start;
      margin:0;
}
.actual-cat li{
      background-color: #f2f2f2;
      border-radius: 10px;
      padding:5px 10px;
      margin-right: 7px;
}
.actual-cat a{
      text-decoration: none;
      color: black;
}
